body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 80vw;
    margin: auto;
    background-color: rgb(180, 248, 180);
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

p{
    width: 50vw;
}

td {
   width: 50px;
  }

label,input{
margin-bottom: 1rem;
}

input{
	height: 1.5rem;
    background-color: rgb(131, 224, 131);
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

#message{
	margin: 1rem;
	color: red;
}      

/**links **/
.link {
	text-decoration: none;
	padding: 0.5rem 1rem;
  }
  
  .link-primary {
	background-color: green;
	border-radius: 0.5rem;
	color: white;
  }
  
  .link-secondary {
	color: green;
	border-radius: 0.5rem;
	border: 1px solid green;
  }
  /**lists **/
  .list-non-bullet {
	list-style: none;
  }
  
  .list-item-inline {
	display: inline;
	padding: 0rem 0.5rem;
  }
  
  /**nav **/
  
  .navigation {
	background-color: green;
	color: white;
	padding: 1rem;
	border-bottom-left-radius: 1rem;
  }
  
  .navigation .nav-brand {
	font-size: 1.5rem;
  }
  
  .navigation .nav-pills {
	text-align: right;
  }
  
  .navigation .link {
	color: white;
  }
  
  .navigation .link-active {
	font-size: 1.5rem;
  }
  
  /* footer */
  
  .footer {
	  background-color: green;
	  padding: 2rem 1rem;
	  text-align: center;
	  color: white;
	  border-top-right-radius: 1rem;
	  width: 100vw;
	  margin-top: 10vh;
	}
	
	.footer .link {
	  color: white;
	}
	
	.footer .footer-header {
	  font-weight: bold;
	  font-size: large;
	}
	
	.footer ul {
	  padding-inline-start: 0px;
	}